{% load staticfiles %}
<html>
	<head><title>AL DIGITRON Blog</title>
		 <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootsrap/3.2.0/css/boostrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
	</head>
	
	<body>
		<div id="maindiv">
		<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

		<div class="page-header">
			<header>
			{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" id="newgly"></span></a>
			{% endif %}
			<h1><a href="/">AL DIGITRON Blog</a></h1>
			<div id="headimage"><a href="#"><img src="{% static 'css/imgs/myhead.jpg' %}" class="img-responsive"></a></div>
			<div id="searchpost">
				<form method='GET' action=''>
				<input type='text' name='q' placeholder='Search for an article' value='{{ request.GET.q }}'/>
				<input type='submit' value='Search'/>
				</form>
				</div>

         <!--nav bar-->
		<div class="row" id="access">
			<div class="col-sm-12">
            <nav class="navbar navbar-default navbar-static-top navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="glyphicon glyphicon-arrow-down"></span>
                          MENU
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/"><b>Home</b></a></li>
                        </ul> 
                    </div>
                </div>
             </nav>
             </div> 
        </div>

			</header>
			

		</div>

		<div class="mainposts">
			<div class="row">
				<div class="col-md-8 col-lg-8">
					{% block content %}
					{% endblock %}
				</div>
				<!--<aside class="col-md-4 col-lg-4"><p>Archives </p></aside>-->
			</div>
		</div>
		<footer><div id="feettext"><b>Proudly Powered by AL DIGITRON</b></div></footer>
		</div>
		<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>		
	</body>
</html>



