{% extends 'blog/base.html' %}
{% load urlify %}
	{% block content %}

	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li {% if message.tags %} class="{{ message.tags}}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}

		<div class="col-sm-9 col-sm-offset-3">
			<div class="post">
				{% if post.published_date %}
					<div class="date">
						{{ post.published_date }}
					</div>
				{% endif %}
				{% if user.is_authenticated %}
					<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
					<a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
					<a class="btn btn-default" href="/"><span class="glyphicon glyphicon-home"></span></a>
				{% endif %}
				<h1>{{ post.title }}</h1>
				{% if post.image %}
				<img src="{{post.image.url}}" class='img-responsive img-rounded ' />
				{% endif %}
				<p>{{ post.text|linebreaks }}</p>

				


				<a href="https://www.facebook.com/sharer/sharer.php?u=http:{{request.build_absolute_uri}}">Facebook</a>

				<a href="https://twitter.com/home?status={{ post.title|urlify }}%20http:{{request.build_absolute_uri}}">
				Share on Twitter</a>

				<a href='https://plus.google.com/share?url={{request.build_absolute_uri}}'>

				<a href="https://www.linkedin.com/shareArticle?mini=true&url=http:{{request.build_absolute_uri}}&title={{ post.title|urlify }}&summary={{ post.title|urlify }}&source=http:{{request.build_absolute_uri}}">Linkedin</a>

				<a href="http://www.reddit.com/submit?url={{request.build_absolute_uri}}/&title={{ post.title|urlify }}.">Reddit</a>
			</div>
		</div>	
	{% endblock %}